/* Generated Styles */
.ui-element { box-sizing: border-box; }
#el-1765425574137-0 {
    position: absolute;
    left: 55px;
    top: 28px;
    width: 420px;
    height: 49px;
    background: transparent; color: inherit; white-space: pre-wrap;
}
#el-1765425574137-1 {
    position: absolute;
    left: 55px;
    top: 98px;
    width: 404px;
    height: 480px;
    background: transparent; color: inherit; white-space: pre-wrap;
}
#el-1765425574137-2 {
    position: absolute;
    left: 55px;
    top: 597px;
    width: 76px;
    height: 42px;
    background-color: #6c5ce7; color: white; border: none; border-radius: 4px;
}
#el-1765425574137-3 {
    position: absolute;
    left: 146px;
    top: 597px;
    width: 76px;
    height: 42px;
    background-color: #6c5ce7; color: white; border: none; border-radius: 4px;
}
#el-1765425574137-4 {
    position: absolute;
    left: 234px;
    top: 597px;
    width: 76px;
    height: 42px;
    background-color: #6c5ce7; color: white; border: none; border-radius: 4px;
}
#el-1765425574137-5 {
    position: absolute;
    left: 333px;
    top: 597px;
    width: 76px;
    height: 42px;
    background-color: #6c5ce7; color: white; border: none; border-radius: 4px;
}
#el-1765425574137-6 {
    position: absolute;
    left: 55px;
    top: 774px;
    width: 45px;
    height: 45px;
    background-color: #6c5ce7; color: white; border: none; border-radius: 4px;
}
#el-1765425574137-7 {
    position: absolute;
    left: 132px;
    top: 782px;
    width: 142px;
    height: 31px;
    background: transparent; color: inherit; white-space: pre-wrap;
}
#el-1765425574137-8 {
    position: absolute;
    left: 55px;
    top: 683px;
    width: 335px;
    height: 75px;
    background-color: #2a2e37; color: white; border: 1px solid #333642; border-radius: 4px; padding: 4px 8px;
}
#el-1765425574137-9 {
    position: absolute;
    left: 295px;
    top: 780px;
    width: 48px;
    height: 37px;
    background-color: #2a2e37; color: white; border: 1px solid #333642; border-radius: 4px; padding: 4px 8px;
}
#el-1765425574137-10 {
    position: absolute;
    left: 355px;
    top: 774px;
    width: 45px;
    height: 45px;
    background-color: #6c5ce7; color: white; border: none; border-radius: 4px;
}
